<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.swifties.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swifties</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.457564875045-cibjsigg5m1vfvicqre8vbfenr6mkoaf</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>457564875045-cibjsigg5m1vfvicqre8vbfenr6mkoaf.apps.googleusercontent.com</string>
</dict>
</plist>
